body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.calculator {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /*black with 0.2 opacity*/
  width: 260px;
}

/*Align buttons*/
.calculator div {
  display: flex;
  justify-content: center;
}

/*Input display*/
#inputBox {
  width: 220px;
  height: 55px;
  padding: 15px;
  font-size: 55px;
  text-align: right;
  margin-bottom: 20px;
  border: 5px solid #ccc;
  border-radius: 10px;
}

/*All buttons */
.button {
  width: 55px;
  height: 55px;
  padding: 0px;
  margin: 5px; /*all sides*/
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
}

/*Number buttons*/
.button:hover {
  background: #d6d6d6;
  cursor: pointer;
}

/*Operator buttons*/
.operator {
  background: #f9c74f;
}

.operator:hover {
  background: #f8b739;
  cursor: pointer;
}
